<div class="col-10 offset-1 about">
  <h1>About Love Notes</h1>
  <p>
  We can get overwhelmed by the daily stresses of life, world events, and a seemingly endless barrage of social media stories.
  </p>
  <p>
  No matter what you feel down about, sometimes it can feel nice to contrast all that chaotic information with sweet messages of love and support. I hope these messages bring a little extra happiness to your day!
  </p>
  <p>
  This list of quotes will be moderated. I ask that you please respect the intent of the project and only submit notes that are uplifting and complementary.
  </p>
  <br />

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'hearts-bouquet.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">A note from Melsen Carlsburg</h2>
      <br />
      <p>
        This Love Notes website is my first ever web app. I just started the <a href="http://thefirehoseproject.com">Firehose Project</a>, and I'm excited to be digging into web development so much in my first week. Please help me make this app a friendly, fun place to visit by <%= link_to 'contributing', new_quote_path %> your love note!
      </p>
    </div>
  </div>

</div>

<br class="clear" />
<br />
<br />
<br />